<div class="page-header">
  <h1>Listado de fichas</h1>
</div>

<div class="row" ng-hide="fichas.length">
  <div class="col-lg-12">
    <div class="input-group">
      <button type="button" class="btn btn-primary" ng-click="irACrear()"><span class="glyphicon glyphicon-plus"></span>
        Crear la primera ficha
      </button>
    </div>
  </div>
</div>

<div class="row" ng-show="fichas.length">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary" ng-click="irACrear()"><span
            class="glyphicon glyphicon-plus"></span> Crear
        </button>
      </span>
      <span class="input-group-addon "><span class="glyphicon glyphicon-filter"></span> Filtrar</span>
      <input ng-model="filtro" type="text" class="form-control" placeholder="Pon algo para filtrar resultados">
    </div>
    <!-- /input-group -->
  </div>
</div>
<div class="row" ng-show="fichas.length">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>Núm.</th>
          <th>Nombre</th>
          <th>Emails</th>
          <th>Teléfonos</th>
          <th>Dirección</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ficha in fichas | filtroFicha:filtro">
          <td>
            <button ng-click="irAEditar(ficha)" class="btn btn-default" title="Editar esta ficha"><span
                class="glyphicon glyphicon-pencil"></span> {{ficha.numero}}
            </button>
          </td>
          <td>
            <address>
              <strong>{{ficha.nombre}}</strong><br/>
              {{ficha.nif}}
            </address>
          </td>
          <td>
            <ul class="emails">
              <li ng-repeat="email in ficha.emails" ng-bind="email"></li>
            </ul>
          </td>
          <td>
            <ul class="telefonos">
              <li ng-repeat="telefono in ficha.telefonos" ng-bind="telefono"></li>
            </ul>
          </td>
          <td>
            <address>
              <strong>{{ficha.direccion}}</strong><br>
              {{ficha.codigo_postal}} - {{ficha.localidad}}<br>
              {{ficha.provincia}} ({{ficha.pais}})<br>
            </address>
          </td>
          <td>
            <button class="btn btn-danger" ng-click="borrar(ficha)" title="Borrar esta ficha"><span
                class="glyphicon glyphicon-remove"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-links pagination="pagination"></pagination-links>
    </div>
  </div>
</div>
